*{
    margin: 0;
}
body{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-left: 1px solid #cedfe8;
    border-right: 1px solid #cedfe8;
    font-family: 'Nunito';
    font-weight: 600;
}
header{
    background-color: #CEDFE8;
    border-bottom: 2px solid #000;
    margin-bottom: 0.5rem;
}
a{
    text-decoration: none;
    border: 1px solid #FFBABA;
    background-color: #FFBABA;
    padding: 2px;
    border-radius: 0.2rem;
}

h1{
    font-family: 'Dancing Script';
    font-weight: 500;
    text-align: center;
    font-size: 4em;
}

#img-header{
    width: 15%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0.5rem;
}

nav{
    float: right;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
}

footer{
    background-color: #CEDFE8;
    border-top: 2px solid #000000; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
#titulo-footer{
    text-align: center;
    font-size: 25px;
}
#salgado{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    width: 1525px;
}

.img-section{
    margin: 10px;
    width: 22%;
    height: 22%;
}
#ul-1{
    list-style: none;
    margin: 2rem;
}
h3{
    border: 1px solid #FFBABA;
    background-color: #FFBABA;
    
}
